<!-- app/views/contacts/thank_you.html.erb -->

<div class="thankyoucontents">
<div class="tape"></div>
<div class="thankyoumessage">
  <h1>お問い合わせありがとうございました。</h1>
  <p>ご入力いただいた内容を確認の上、担当者よりご連絡させていただきます。</p>
</div>
</div>
